<div>
<%= @event.location %>
</div>

<div>
<%= @event.date %>
</div>

<div>
<%= link_to @creator.email, user_path(@creator) %>
</div>

<div>
<%= button_to 'Sign up to attend', event_path, method: 'patch' %>
</div>